.App {
  text-align: center;
  height: 100%;
  background-color: beige;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  margin-top: 15px;
}
.heading{
  margin-bottom: 30px;
}

.name{
  width: 300px;
  margin-bottom: 20px;
}

.select{
  width: 300px;
}